@model ECommerce_Sat.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>ECommmerce</h1>
<h3>Categorías</h3>

<div class="mb-2">
    @foreach (var item in Model.Categories)
    {
        <span>@item.Name&nbsp;&nbsp;</span>
    }
</div>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar por nombre o categoría: <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
            <input type="submit" value="Buscar" class="btn btn-warning" />
            <a asp-action="Index" class="btn btn-success">Ver Todos los Productos</a>
        </p>
    </div>
</form>


<div class="mb-2 d-flex justify-content-between">
    <div>
        <h5>Orderar por:</h5>
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm" class="btn btn-outline-info">Nombre</a>&nbsp;&nbsp;
        <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSortParm" class="btn btn-outline-info">Precio</a>
    </div>
    <div>
        @if (Model.Quantity > 0)
        {
            <br />
            <a asp-action="ShowCartAndConfirm" class="btn btn-outline-primary">Ver Carro de Compras (@Model.Quantity)</a>
        }
    </div>
</div>


@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-center">
        <h1 class="display-4">Bienvenidos @ViewBag.UserFullName a la administración de ECommerce</h1>
    </div>
}
else
{
    <div style="text-align: center;">
        <h3>Productos</h3>
    </div>

    @foreach (var group in Model.Products.Select((item, index) => new { Item = item, Index = index })
                          .GroupBy(x => x.Index / 4))
    {
        <div class="row" style="text-align: center;">
            @foreach (var item in group.Select(g => g.Item))
            {
                if (item != null)
                {
                    if (item.Stock < 1)
                    {
                        <div class="col-md-3">
                            <div class="card zoom">
                                <div class="card_title">@item.Name</div>
                                <div class="card_body">
                                    <img src="@item.ImageFullPath" style="height:150px; max-width:280px;" />
                                    <p class="mt-2">
                                        @item.Description
                                        <h4 class="text-danger">Producto no disponible</h4>
                                    </p>
                                </div>
                                <div class="card_foot">
                                    <button asp-action="DetailsProduct" asp-route-productId="@item.Id" class="btn btn-secondary" disabled>Detalles</button>
                                    <button asp-action="AddProductInCart" asp-route-productId="@item.Id" class="btn btn-primary" disabled>Agregar</button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3">
                            <div class="card zoom">
                                <div class="card_title">@item.Name</div>
                                <div class="card_body">
                                    <img src="@item.ImageFullPath" style="height:150px; max-width:280px;" />
                                    <p class="mt-2">
                                        @item.Description
                                        <h4>@Html.DisplayFor(modelItem => item.Price)</h4>
                                    </p>
                                </div>
                                <div class="card_foot">
                                    <a asp-action="DetailsProduct" asp-route-productId="@item.Id" class="btn btn-secondary">Detalles</a>
                                    <a asp-action="AddProductInCart" asp-route-productId="@item.Id" class="btn btn-primary">Agregar</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    }
}

